# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
# Инициализируем переменную

debt_from_children = pd.DataFrame()

In [23]:
# Выясняем количество заемщиков, допустивших просрочку

debt_from_children['sum_children'] = data.groupby('children')['debt'].sum()

In [24]:
# Выясняем общее количество заемщиков

debt_from_children['count_children'] = data.groupby('children')['debt'].count()

In [25]:
# Выясняем долю заемщиков, допустивших просрочку 

debt_from_children['result_children'] = (
    debt_from_children['sum_children'] / debt_from_children['count_children'] * 100
    )

In [26]:
# Выводим результат для анализа

debt_from_children.sort_values('result_children')

          sum_children  count_children  result_children
children
5                    0               9         0.000000
0                 1063           14091         7.543822
3                   27             330         8.181818
1                  444            4808         9.234609
2                  194            2052         9.454191
4                    4              41         9.756098

In [27]:
# я бы так написал

debt_from_children = data.groupby('children')['debt'].agg(['sum', 'count', 'mean'])

debt_from_children

           sum  count      mean
children
0         1063  14091  0.075438
1          444   4808  0.092346
2          194   2052  0.094542
3           27    330  0.081818
4            4     41  0.097561
5            0      9  0.000000

In [28]:
# Выясняем количество заемщиков, допустивших просрочку
# Выясняем общее количество заемщиков

debt_from_children= data.groupby('children')['debt'].agg(['sum', 'count'])

debt_from_children

           sum  count
children
0         1063  14091
1          444   4808
2          194   2052
3           27    330
4            4     41
5            0      9

In [29]:
# Выясняем долю заемщиков, допустивших просрочку 

debt_from_children['result_children'] = (debt_from_children['sum'] / debt_from_children['count'])

In [30]:
# Выводим результат для анализа

debt_from_children.sort_values('result_children')

           sum  count  result_children
children
5            0      9         0.000000
0         1063  14091         0.075438
3           27    330         0.081818
1          444   4808         0.092346
2          194   2052         0.094542
4            4     41         0.097561

**Вывод:** Увеличение количества детей свидетельствует об увеличении риска просрочки по кредиту (фактически разница с бездетными составляет почти 2 %). Несколько выбивается из общей тенденции семьи с 3 детьми, однако выборка мала, возможно, потребуется запросить более расширенную выборку.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [31]:
# Инициализируем переменную

debt_from_family_status = pd.DataFrame()

In [32]:
# Выясняем количество заемщиков, допустивших просрочку

debt_from_family_status['sum_family_status'] = data.groupby('family_status')['debt'].sum()

In [33]:
# Выясняем общее количество заемщиков

debt_from_family_status['count_family_status'] = data.groupby('family_status')['debt'].count()

In [34]:
# Выясняем долю заемщиков, допустивших просрочку 

debt_from_family_status['result_family_status'] = (
    debt_from_family_status['sum_family_status'] / 
    debt_from_family_status['count_family_status'] 
    )

In [35]:
# Выводим результат для анализа

debt_from_family_status.sort_values('result_family_status')

,sum_family_status,count_family_status,result_family_status
family_status,,,
вдовец / вдова,63,951,0.066246
в разводе,84,1189,0.070648
женат / замужем,927,12261,0.075606
гражданский брак,385,4134,0.093130
Не женат / не замужем,273,2796,0.097639

**Вывод:** Как ни странно, но вдовцы и разведенные более ответственно подходят к вопросу возврата кредитов. Худшая платежная дисциплина - у не женатых и состоящих в гражданском браке.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [36]:
# Инициализируем переменную

debt_from_total_income = pd.DataFrame()

In [37]:
# Выясняем количество заемщиков, допустивших просрочку

debt_from_total_income['sum'] = data.groupby('total_income_category')['debt'].sum()

In [38]:
# Выясняем общее количество заемщиков

debt_from_total_income['count'] = data.groupby('total_income_category')['debt'].count()

In [39]:
# Выясняем долю заемщиков, допустивших просрочку

debt_from_total_income['conversion'] = debt_from_total_income['sum'] / debt_from_total_income['count']

In [40]:
# Выводим результат для анализа

debt_from_total_income.sort_values('conversion')

                        sum  count  conversion
total_income_category
D                        21    349    0.060172
B                       354   5014    0.070602
A                         2     25    0.080000
C                      1353  15921    0.084982
E                         2     22    0.090909

**Вывод:** Уровень дохода также влияет на вероятнось невозврата кредита в срок. Минимальный риск невозврата кредита имеют заемщики, имеющие доход от 30 001 до 50 000 рублей. Объясняется это просто: имеющиеся свободные средства, оставшиеся от уплаты обязательных платежей и критическая зависимость от получения следующих кредитов. Максимальный риск - у заемщиков с доходом от 0 до 30 000 рублей. Причина в принципе проста - в случае низкого дохода у заемщика каждый срок оплаты кредита - это проблема выбора: оплата кредита или текущие платежи с неясным конкретным выбором. Высокий доход подразумевает наличие возможностей по уклонению от возврата кредита, а также определенная независимость от кредитной истории в связи с отсутствием потребности в получении новых кредитов. Однако нужно учитывать, что выборка по самому высокому и самому низкому доходу очень мала, поэтому необходимо либо исключить их из анализа, либо запросить дополнительные данные.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [41]:
# Инициализируем переменную

debt_from_purpose_category = pd.DataFrame()

In [42]:
# Выясняем количество заемщиков, допустивших просрочку

debt_from_purpose_category['sum_purpose_category'] = data.groupby('purpose_category')['debt'].sum()

In [43]:
# Выясняем общее количество заемщиков

debt_from_purpose_category['count_purpose_category'] = data.groupby('purpose_category')['debt'].count()

In [44]:
# Выясняем долю заемщиков, допустивших просрочку

debt_from_purpose_category['result_purpose_category'] = (
    debt_from_purpose_category['sum_purpose_category'] / 
    debt_from_purpose_category['count_purpose_category'] 
)

In [45]:
# Выводим результат для анализа

debt_from_purpose_category.sort_values('result_purpose_category')

,sum_purpose_category,count_purpose_category,result_purpose_category
purpose_category,,,
операции с недвижимостью,780,10751,0.072551
проведение свадьбы,183,2313,0.079118
получение образования,369,3988,0.092528
операции с автомобилем,400,4279,0.093480

**Вывод:** Цели кредита влияют на вероятность возврата кредита. Наименьший риск у заемщиков по ипотечным кредитам, наибольший - в операциях с автомобилем и получением образования. Видимо, это связано с наличием залога, который дисциплинирует заемщика. Кредит на проведение свадьбы приблизительно равен кредиту на недвижимость.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

In [46]:
# Посмотрим изначальный датасет, отфильтровав его по пропускам значений 

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')
data[data.isna().any(1)].head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
26,0,NaN,41,среднее,1,женат / замужем,0,M,госслужащий,0,NaN,образование
29,0,NaN,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,NaN,строительство жилой недвижимости
41,0,NaN,50,среднее,1,женат / замужем,0,F,госслужащий,0,NaN,сделка с подержанным автомобилем
55,0,NaN,54,среднее,1,гражданский брак,1,F,пенсионер,1,NaN,сыграть свадьбу
65,0,NaN,21,среднее,1,Не женат / не замужем,4,M,компаньон,0,NaN,операции с коммерческой недвижимостью
67,0,NaN,52,высшее,0,женат / замужем,0,F,пенсионер,0,NaN,покупка жилья для семьи
72,1,NaN,32,высшее,0,женат / замужем,0,M,госслужащий,0,NaN,операции с коммерческой недвижимостью
82,2,NaN,50,высшее,0,женат / замужем,0,F,сотрудник,0,NaN,жилье
83,0,NaN,52,среднее,1,женат / замужем,0,M,сотрудник,0,NaN,жилье

*Ответ:* Пропуски в исходных данных возникают по разным причинам. Я предполагаю, что их можно разбить на 2 большие группы: технические и связанные с человеческим фактором. 
Технические причины - это сбой систем, собирающих данные, ошибки при передаче, записывании и т.д., проблемы с оборудованием и программным обеспечением, в том числе при трансформации типов данных друг в друга, потеря или ограничение доступа к информации и другие. 
Человеческий фактор связан как с ошибками сборщика данных - описки, опечатки, забывчивость в вопросах внесения данных, так и поведением вине респондента из-за 1. социально – психологических характеристик; некомпетентности в теме исследования; неконтактности; не желания отвечать.
Применительно к нашему набору данных: данные пропущены в графах "стаж работы" и "доход заемщика" одновременно. Пропуски данных никак не связаны с иными графами датасета. Это позволяет предположить, что причиной пропуска данных является нежелание заемщика указывать данные. Опять же вопрос, как были получены эти данные. Просто при заполнении заявки на кредитование заполнение этих граф анкеты обязательно, поэтому пропуски значений в таких количествах маловероятны.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Медианное значение почти не подвержено "выбросам" - аномальным значениям набора данных. Таким образом, медианное значение поможет найти именно тот показатель, который ближе всего к истинно среднему. На неё не влияют выбивающиеся из общей массы числа, поэтому она считается одним из самых надёжных и устойчивых показателей. С помощью медианы можно получить более точные данные и правильнее интерпретировать статистику.

### Шаг 4: общий вывод.

Было проведено исследование, определяющее вероятность добросовестность заемщика в зависимости от различных факторов. Входные данные для исследования - данные клиентов - заемщиков и статистика возврата кредитов. 
В процессе проведения исследования были сформулированы 4 гипотезы:
1. Есть ли зависимость между количеством детей и возвратом кредита в срок?
2. Есть ли зависимость между семейным положением и возвратом кредита в срок?
3. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
4. Как разные цели кредита влияют на его возврат в срок?

В результате исследования некоторые зависимости были выявлены.

Гипотеза 1. Частично подтверждена. Увеличение количества детей свидетельствует об увеличении риска просрочки по кредиту (фактически разница с бездетными составляет почти 2 %). Однако по некоторым категориям заемщиков выборка критически мала, что, возможно, может повлиять на результаты исследования.
Рекомендация: провести дополнительные исследования на значительно большей выборке.

Гипотеза 2. Подтверждена. Семейные люди более ответственны в финансовых вопросах. 
Рекомендация: при принятии решения наделять этой зависимости высокий вес.

Гипотеза 3. Подтверждена частично. Низкий уровень риска невозврата кредитов имеют заемщики, чей доход составляет от 30 001 до 50 000 рублей. Объясняется это просто: имеющиеся свободные средства, оставшиеся от уплаты обязательных платежей и критическая зависимость от получения следующих кредитов. При повышении уровня доходов тенденция к улучшению финансовой дисциплины не прослеживается. Причиной может быть как маленький размер выборки, так и иные причины (к примеру, заемщики с доходом > 1 000 000 рублей врядли будут брать потребительский кредит на товары первой необходимости). В общем, зависимости от уровня дохода не прослеживается.
Рекомендация: провести дополнительные исследования на значительно большей выборке.

Гипотеза 4. Подтверждена в полном объеме. Минимальный риск - у ипотечных заемщиков. 
Рекомендация: при принятии решения наделять этой зависимости высокий вес.

Общие рекомендации:
1. Специалистам, которые занимаются построением моделей скоринга, можно использовать зависимости второй и четвертой гипотез.
2. Для проверки первой и третьей гипотез необходима более обширная выборка по всем категориям заемщиков.